<nav class="navbar navbar-dark bg-dark navbar-expand-lg ">
    <a class="navbar-brand" href="/">TURNERO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuAlt" aria-controls="menuAlt" aria-expanded="true">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="menuAlt">
        <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="/admin">Administración</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'add_turno' %}">Reserva de Turnos</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'atencion_clientes' %}">Atención de Clientes</a></li>
            {% endif %}
            <li class="nav-item"><a class="nav-link" href="{% url 'pantalla' %}">Pantalla de Turnos</a></li>
        </ul>
        {% if user.is_authenticated %}
        <a class="nav-item nav-link text-secondary mr-1" href="{% url 'admin:logout' %}"><i class="fas fa-sign-out-alt"></i></a>
        {% else %}
        <a class="nav-item nav-link text-secondary mr-1" href="{% url 'admin:login' %}"><i class="fas fa-sign-in-alt"></i></a>
        {% endif %}
    </div>
</nav>